body {
  background-color: #aeecef;
  font-family: Verdana;
  text-align: center;
}
/* form {
  background-color: #fff;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
} */
.form-control {
  text-align: left;
  margin-bottom: 25px;
}
.form-control p {
  display: block;
  margin-bottom: 10px;
}
.form-control input {
  margin-bottom: 10px;
}
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
button {
  background-color: #05c46b;
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

a {
  color: black;
  /* text-decoration: none; */
  text-transform: uppercase;
}

.container {
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-container {
}

.menu-bar {
  max-width: 840px;
  margin: 0 auto;
  background-color: #777;
  padding: 5px 20px;
  /* border: 2px solid black; */
  text-align: left;
  box-sizing: border-box;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.menu-item {
  padding: 5px 20px;
}

.menu-item > a {
  color: white;
  text-decoration: none;
}

#mobile-menu {
  width: 100%;
}

#desktop-menu {
  display: flex;
}

#mobile-menu > .menu-item {
  width: 100%;
}

#toggle-menu {
  color: black;
}

.hidden {
  display: none;
}

@media screen and (min-width: 426px) {
  #toggle-menu {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  #desktop-menu {
    display: none;
  }
}